.list-group{
    a{
    cursor: context-menu;
    padding:30px;
     }
}
.footer{
    position: fixed;
  bottom: 0;
  width:100%;
}   
  h1{
   padding-top: 20px;
  }
  
  .dropdown-menu {
    max-height: 150px;
    overflow-y: scroll;
  }